node==1.2.2
npm==0.1.1
odict==1.9.0
optional-django==0.1.0
plumber==1.7
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==7.0.1
zope.lifecycleevent==5.0
zope.proxy==5.3
